@charset "UTF-8";
/*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуляющие стили*/
body {
  font-family: "Hero", "Open Sans";
  background: #423d3d;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  align-content: unset;
  transition-duration: 0.1s;
  overflow-x: hidden;
  height: 100%;
}

header {
  width: 100vw;
}

main {
  width: 100vw;
  flex: 1 0 auto;
}

footer {
  width: 100vw;
  flex: 0 0 auto;
}

.content {
  min-width: 550px;
}

* {
  margin: 5px 0 5px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  align-content: unset;
}

h1 {
  text-align: center;
}

.button {
  width: 150px;
  height: 40px;
  text-align: center;
  background: #F9F06C;
  margin: 5px auto;
}

.input {
  width: 80vw;
}

a {
  color: #ffffff;
  text-decoration: underline;
}